@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3 id="title">@ViewBag.Title.</h3>
    <address>
        <strong>Linkedin : </strong><a href="https://www.linkedin.com/in/lee-li-se/">linkedin.com/in/lee-li-se/</a><br />
        <strong>Github : </strong><a href="https://github.com/Lee1090/EasyXNoteApp">EasyXNoteApp</a> | <a href="https://github.com/Lee1090/EasyXNoteDataAccessAPI">EasyXNoteDataAccessAPI</a>
    </address>
</main>