@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h3 id="title">Home</h3>
        <p class="lead">@ViewBag.Message</p>
    </section>
</main>